.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;

    background: rgb(72, 72, 72);
}

.header__logo{
    width: 60px;
    height: 60px;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar a{
    font-weight: 500;
    color: white;
    text-decoration: none;

}

.navbar li{
    margin: 0 15px 0 0;
}

.navbar li:last-child {
    margin: 0;
}