.page-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.page-content {
  display: flex;
  justify-content: space-between;
}

header {
  height: 40px;
  margin: 10px 0 20px 0;

  text-align: center;
  background-color: rgb(255, 129, 129);
}

aside {
  max-width: 200px;
  width: 100%;
  margin: 0 20px 0 0;
  
  background-color: rgb(129, 255, 146);
}

section {
  min-width: 500px;
  width: 100%;

  background-color: rgb(129, 142, 255);
}

.logo {
  font-size: 30px;
  text-transform: uppercase;
}

.user-page{
  display: flex;
}

.user-poster{
  width: 100%;
}

.user-page {
  display: flex;
}

.avatar {
  max-width: 300px;
}
